{require_otp_vsn, "R1[56]B|17"}.

{erl_opts,[
           {i, "include"}
           %% no_debug_info,
          , debug_info
           %% , warnings_as_errors,
          , warn_obsolete_guard
           %% , warn_unused_import % supress  proper inc warnings
          , clint
          , warn_shadow_vars
          , warn_export_vars
          , {parse_transform, lager_transform}
          ]}.


{sub_dirs, [
            "apps/sctp_server",
            "apps/sctp_client"
           ]}.

{deps_dir, "deps"}.
{lib_dirs, ["apps", "deps"]}.

{deps,
 [{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.2"}}},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git",
                {tag, "0.8.2"}}},
  {eunit_fsm,  ".*",
   {git, "https://github.com/SmallCell/eunit_fsm.git", "master"}},
  {sync, ".*",
   {git, "https://github.com/mentels/sync.git", {branch, "master"}}}
   ]}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.

{ct_log_dir, "logs"}.
